{% extends 'blog/base.html' %}
{% block content %}
<section class="hero-section">
    {% if top_story %}
    <div class="top-story-card" style="background-image:url('{{top_story.image.url }}');">
        <div class="top-story-content">
            <h2>Kasi news Deployment Test </h2>
            <p>{{top_story.content|truncatewords:25}}</p>
        </div>
        <a href="{% url 'post_detail' top_story.id %}">Read More</a>
    </div>

    {% endif%}
</section>
<section class="latest-news-section">
    <div class="section-header">
        <h2 class="section-title">Latest News </h2>
    </div>
    <div class="latest-news-grid">
        {% for post in latest_news %}
        <article class="news-card">
            {% if post.image %}
                <img src="{{post.image.url }}" alt="{{ post.title}}"
                class="news-image">
                {%endif%}
            
            <div class="news-content">
                <span class="news-category">
                    <a href="{% url 'post_detail' post.id %}">
                    Read More
                    </a>
                </span>
                <h3 class="news-title">
                    
                        {{post.title}}
                    
                </h3>
                <p class="news-content">
                    {{post.content|truncatewords:15}}
                </p>
            </div>
        </article>
        {% endfor%}
    </div>

</section>
{% endblock %}




