{% extends "blog/base.html" %}
{%block content%}
<article class="post-detail">
    <!--Top image-->
    {% if post.image %}
    <div class="post-detail-image-wrapper">
        {% if post.image %}
        <img src="{{post.image.url}}" alt="{{post.title}}" class="post-detail-image">
        {% endif %}
    </div>
    {%endif%}
    <!--content-->
    <div class="post-detail-content">
        <div class="post-meta">
            <span class="post-category">
                    {{ post.category.name}}
            </span>
            <span class="post-date">
                {{ post.created_at|date:"F d,Y"}}
            </span>

        </div>
        <h1 class="post-title"> {{post.title}} </h1>
        <div class="post-body">
            {{ post.content|linebreaks }}
        </div>
    </div>
</article>
{%endblock%}